/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(66, 64, 64);
}

.Counter {
  text-align: center;
}

.first {
  background-color:white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 20px;
}

.first:hover {
  background-color: #191919;
  color:white
}
